.services-wrapper{
    padding-bottom: 90px;
    background-color: #fafcff;
    padding-right: 50px;
    
}
.title{
    text-align: center;
    font-weight: 600;
    margin-bottom: 70px;
    margin-top: 30px;
}
.title span{
    color: rgb(87, 197, 182);
}
.service-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
  }
  
  .service-item {
    position: relative;
    background-color: #fff;
    height: 100%;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(87, 197, 182, 0.2);
    padding: 40px;
   
    
  }

  .service-item:hover {
    border: 1px solid rgb(87, 197, 182);
    
  }
  
  .service-item:nth-last-child(-n + 2) {
    grid-row-start: 2;
  }
  
  .service-icon-box {
    margin-right: 20px;
  }
  
  .service-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .service-item-text {
    font-size: 14px;
    color: #555;
  }