
.about-section-home {
    background-color: #fafcff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    
  }
  


  .wavepattern {
    transform: translateY(-50%);
    width: 100%;
    
   
  }


  .about-content-home {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
  }
  
  .image-container-home {
    flex: 1;
  }
  
  .image-container-home img {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
  } 
  
  .info-container-home {
    flex: 1;
    padding-left: 50px;
  }
  
  .info-container-home h2 {
    text-align: left;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 30px;
    
  }

  .info-container-home h2 span {
    color: #57C5B6;
    
  }
  
  .info-container-home p {
    text-align: justify;
    line-height: 30px;
    font-size: 15px;
    
  }

  